<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Guru99">
  <test name="HomeLoginTest">
  
<listeners>
       <listener class-name="listners.TestNGListener"/>
       <listener class-name="listners.RetryListner"/>
</listeners>

    <classes>
      <class name="testCases.VerifyHomeLoginPage"/>
    </classes>
  </test>
</suite> 
